.card {
  display: flex;
  margin: 10px;
  font-family: "Open-Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #000;
  height: 85px;
  width: 62%;
  border: 1px solid #ff8b37;
  border-bottom: 7px solid #ff8b37;
}

.alert-card {
  border: 1px solid #c85a4b;
  border-bottom: 7px solid #c85a4b;
}

.success-card {
  border: 1px solid #7ec143;
  border-bottom: 7px solid #7ec143;
}

.unit-card {
  font-size: 13px;
  font-weight: lighter;
  width: 188px;
  height: 103px;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
