.card {
  display: flex;
  margin: 10px;
  font-family: "Open-Sans", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  color: #000;
  height: 103px;
  width: 62%;
  border: 1px solid #ff8b37;
  border-bottom: 7px solid #ff8b37;
}

.alert-card {
  border: 1px solid #c85a4b;
  border-bottom: 7px solid #c85a4b;
}

.success-card {
  border: 1px solid #7ec143;
  border-bottom: 7px solid #7ec143;
}

.unit-card {
  font-size: 13px;
  width: 200px;
  height: 110px;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 200px;
  height: 100%;
  justify-content: space-evenly;
}
