/* General table styling */
table {
  width: 60%;
  height: 40%;
  margin: 0 40px;
  font:
    14px "Open Sans",
    sans-serif;
  font-weight: lighter;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* Header styling */
th {
  color: white;
  font-weight: bold;
}

/* Header row border styling */
thead {
  background-color: #79c242; /* Light green background */
  overflow: hidden;
}

/* Checkbox styling */
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #79c242;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

thead input[type="checkbox"]:checked {
  -webkit-appearance: listbox;
}

/* Styling when checkbox is checked */
input[type="checkbox"]:checked {
  background-color: #79c242; /* Green background */
  border-color: #79c242;
}

/* Optional: Change the border color on hover */
input[type="checkbox"]:hover {
  border-color: #36a3d9; /* Blue border on hover */
}

/* Row styling */
tbody tr:hover {
  background-color: #c4c2c2;
}

/* First column checkbox styling */
td:first-child {
  width: 40px; /* Adjust the width to fit the checkbox */
}
