@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #f0f0f0;
  font-family: "Open-Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
}
